* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background: #f0f5fd;
}

.left-section {
    background: #FFF;
    width: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 25px 10px;
    transition: all 0.3s ease;
}

.left-section h2 {
    color: #364678;
    margin-bottom: 15px;
    text-align: center;
}

.left-section .sidebar {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.left-section .sidebar .item, 
.left-section .sing-out {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #364670;
    cursor: pointer;
    transition: all 0.3s ease;
}

.left-section .sidebar .item.active h3,
.left-section .sidebar .item.active i,
.left-section .sidebar .item:hover,
.left-section .sing-out:hover {
    color: #1976d2;
}

.left-section .sidebar .item h3,
.left-section .sing-out h3 {
    font-size: 15px;
    font-weight: 500;
}

.left-section .sidebar .item i,
.left-section .sing-out i {
    font-size: 22px;
}